*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

  }
  .hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url("./img/popular-sushi-rolls.png");
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
  }
  .nav-bar{
    display: flex;
    padding: 40px 120px;
  }
  .nav-logo img{
    width: 120px;
  }
  .nav-link{
    flex: 1;
  }
  .nav-link ul{
    margin-left: 50px;
    display: inline;
  }
  .nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
  }
  .nav-link ul a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
  }
  .nav-link ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: .5s;
  }
  .nav-link ul li:hover::after{
    width: 100%;
  }
  .btn{
    padding: 10px 20px;
    border: 0;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
  }
  .nav-link .btn{
    float: right;
    
  }
  .banner-title{
    margin: 80px 130px;
    color: black;
  }
  .banner-title h1{
    font-size: 64px;
    margin-bottom: 30px;
  }
  .banner-title h1 span{
    color: yellow;
  }

  /* PARALLAX EFFECT */
  .parallax {
    /* The image you want to use for the parallax effect */
    background-image: linear-gradient(#545454, #8aa);
  
    /* Set the height of the parallax container */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Next side */
  #home{
	display: flex;
}
aside p, aside span{
	font-family: 'Abril Fatface', cursive;
	font-size: 26px;
    color: white;
}
.hamburger{
	display: none;
}
.ham1, .ham2, .ham3{
	display: block;
	height: 3px;
	background-color: #ff4e4e;
	margin-top: 5px;
	border-radius: 25px;
}
.ham1{
	width: 16px;
	margin-top: 0;
}
.ham2{
	width: 22px;
}
.ham3{
	width: 19px;
}
aside{
	padding: 3rem;
}
aside .cart-icon{
	color: #ff4e4e;
	font-size: 1.8rem;
	transform: rotateY(180deg);
	display: none;
}
.menu li{
	list-style: none;
	margin: 2rem 0;
}
.menu li a{
	text-decoration: none;
	color: grey;
	font-size: 14px;
    color: white;
}



  .ch a {
    display: block;
    padding: 8px 16px;
    margin: 0 8px;
    text-decoration: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .ch a:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }

.button{
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	background-color: #7c2727;
	padding: 12px 2.5rem;
	border-radius: 25px;
	display: inline-block;
	margin-top: 2rem;
}
.content{
	padding: 6rem 3rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.content h1{
	font-weight: 500;
	font-family: 'Abril Fatface', cursive;
	font-size: 3.5rem;
	width: 45%;
    color: whitesmoke;
}
.content > p{
	font-size: 13px;
	color: grey;
	width: 11rem;
	line-height: 1.5rem;
	position: relative;
	left: 5rem;
    color: white;
}
.content > p:before{
	content: '';
	position: absolute;
	top: 118%;
	left: 0;
	height: 2px;
	width: 3.5rem;
	background-color: #ff4e4e;
}
.image-slider{
	display: flex;
	align-items: center;
	margin-top: 3rem;
}
.image{
	background-color: white;
	padding: 2rem 1rem;
	border-radius: 25px;
	margin: 0 10px;
	box-shadow: 5px 10px 18px rgba(0,0,0,0.3);
	min-width: 150px;
	text-align: center;
}
.image img{
	width: 90px;
	height: 90px;
	border-radius: 50%;
}
.image p{
	margin-top: 14px;
	font-size: 13px;
	font-weight: bold;
}
@media all and (min-width: 350px) and (max-width: 480px){
	#home{
		flex-direction: column;
	}
	aside p span, aside ul, .button{
		display: none;
	}
	aside{
		padding: 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.hamburger{
		display: block;
	}
	aside .cart-icon{
		display: block;
	}
	.content{
		padding: 2rem;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: flex-start;
	}
	.content h1{
		font-size: 1.8rem;
		width: 90%;
	}
	.content > p{
		left: 0;
		top: 2rem;
		width: 100%;
		order: 1;
    margin-bottom: 3rem;
	}
	.image-slider{
		margin-top: 2rem;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.image{
		padding: 1.6rem 0.8rem;
		margin: 7px;
		min-width: 120px;
	}
	.image img{
		height: 70px;
		width: 70px;
	}
	.image p{
		font-size: 11px;
	}
}
@media all and (min-width: 481px) and (max-width:768px){
	#home{
		flex-direction: column;
	}
	aside p span, aside ul, .button{
		display: none;
	}
	aside{
		padding: 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.hamburger{
		display: block;
	}
	aside .cart-icon{
		display: block;
		font-size: 2rem;
	}
	.content{
		padding: 2rem;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: flex-start;
	}
	.content h1{
		font-size: 3rem;
		width: 100%;
	}
	.content > p{
		left: 0;
		top: 2rem;
		width: 100%;
		order: 1;
    margin-bottom: 3rem;
	}
	.image-slider{
		margin-top: 2rem;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.image{
		margin: 14px;
	}
}
@media all and (min-width: 769px) and (max-width:1024px){
	.content{
		padding: 3rem;
	}
	.content h1{
		font-size: 3rem;
		width: 100%;
	}
	.content > p{
		left: 0;
		top: 2rem;
		width: 100%;
		order: 1;
    margin-bottom: 3rem;
	}
	.image-slider{
		margin-top: 2rem;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.image{
		margin: 1rem;
	}
}
@media all and (min-width: 1025px) and (max-width:1200px){
	.content{
		padding: 3rem;
	}
	.content h1{
		font-size: 3.5rem;
		width: 70%;
	}
	.content > p{
		left: 0;
		top: 2rem;
		width: 100%;
		order: 1;
    margin-bottom: 3rem;
	}
	.image-slider{
		margin-top: 2rem;
		flex-wrap: wrap;
		justify-content: space-around;
    margin-right: 10rem;
	}
	.image{
		margin: 1rem;
	}
}
@media all and (min-width: 1201px) and (max-width:1290px){
	.image-slider{
		flex-wrap: wrap;
	}
	.image{
		margin: 1rem;
	}
}

h2{
    padding: 20px;
    text-align: center;
}

/* Add this to your styles.css file */

.box {
    /* Add your basic box styles here */
    /* e.g., width, height, background-color, etc. */
    transition: all 0.3s ease-in-out; /* Add the transition property */
}

.box:hover {
    /* Add the styles you want to apply on hover */
    /* e.g., background-color, scale, etc. */
    transform: scale(1.1); /* Example: scale the box up by 10% */
}

/* Add this to your styles.css file */

.centered-paragraph{
    align-items: center;


}

/* Next page */
img{
    max-width: 100%;
    height: auto;
}

.container{
    width: 95%;
    margin: 0 auto;
}

section::after,
footer::after{
    content:'';
    display: block;
    clear: both;
}


/*column system*/

[class^=col-]{
    margin-top: 1em;
    width: 100%;
}

[class^=col-]:first-child{
    
    margin-top: 0;
}

.col-1{
    width: 33.333%;
    float: left;
}
@media (min-width:40rem){
    [class^=col-]{
        float: left;
        padding: 0 .5em;
        margin-top: 0;
        
    }

    [class^=col-]:first-child{
    
        padding-left: 0;
    }
    [class^=col-]:last-child{
        
        padding-right: 0;
    }
.col-3{
    width: 50%;
}

.col-1{
   width: 16.666%;
}
}





/*typography*/
h1{
    font-weight: 300;
    font-size: 1.74rem;
    margin-top: 0;
}

p{
    margin-top: 0;
    line-height: 1.5;
}

p:last-of-type{
    margin-bottom: 0;

}
.title{
    font-size: 2.5em;
    margin-bottom: 1.8em;
    font-weight: 900;
    margin-top: 1em;
}

.title span{
    font-weight: 200;
    display: block;
    font-size: .9em;
}

.unstyled-list{
    margin: 0;
    padding: 0;
    list-style-type: none;

}

@media (min-width:55rem){
   .title{
       font-size: 3.2rem;
   } 
}

h3{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 12px;
    font-size: larger;
    text-decoration: overline;
}


/*button*/
.button{
    display: inline-block;
    font-size: 1.4em;
    text-decoration: none;
    text-transform: uppercase;
    border:2px solid rgb(172, 36, 81);
    padding: .4em 1.75em;
}

.button-accent{
    color: yellow;
    background-color: rgba(0,0,0,0.6);
}
.button-accent:hover,
.button-accent:focus{
    background: rgb(238, 24, 106);
    color: rgb(213, 213, 223);
}

@media (min-width:55rem){
    .button{
        font-size: 1.5rem;
    }
}

.button-small{
    font-size: 1rem;
    font-weight: 900;
}
/*header*/
header{
    position: absolute;
    margin-top: 1em;
    left: 0;
    right: 0;
}

#summerFood{
    color: rgb(238, 24, 106);
    font-size: 3.2em;

}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: .8em;
}

nav a{
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    padding: .6em;
    background: yellow;
    color: black;
    border-radius: 5%;
}

nav a:hover,
nav a:focus{
    font-size: 19px;
    color: rgb(255, 19, 19);
    background:rgb(58, 245, 21);
}
/* home hero*/
.home-hero{
    background-image: url(https://images.unsplash.com/photo-1551276705-0503a4b9d38c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    padding: 10em 0;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
}

@media(min-width:60rem){
    .home-hero{
        height: 100vh;
        padding-top: 30vh;
    }
}

/*home-about*/
.home-about{
    display: flex;
}
.home-about-textbox{
     background-color: #232323;
     padding: 3em;
     width:100vw;
     margin-left: -3%;
     outline: 3px solid rgb(172, 36, 81);
     outline-offset: -2.1em;
     color: thistle;
     position: relative;
}

.home-about-textbox h1{
    color: rgb(172, 36, 81);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: .6em;
    background: #232323;
    padding: 0 .25em;
    flex: 1;
}

/* new */
.home-about-container {
    display: flex;
    justify-content: space-between;
}

.home-about-textbox {
    flex: 1;
}

.home-about-menu {
    flex: 1;
}
/* new */
@media (min-width:25rem){
    h1{
        font-size: 1.75rem;
    }

    .home-about-textbox h1{
        top: 1em;
        padding: 0 .25em;
    }
}
@media (min-width:60rem){
    h1{
        font-size: 2rem;
    }

    .home-about-textbox h1{
        top: .4em;
        padding: 0 .25em;
    }
}

.home-about{
    background-color: rgba(243, 247, 26, 0.795) ;
   
    padding-bottom: 8em;
}

.home-about-textbox{
    width: 50%;
    margin-left: 4.5%;
    text-align: left;
    top: -4em;
    padding:7em;
    outline-offset: -3.9em;
    box-shadow: 0 0 5em rgba(0,0,0,0.6);
    
}

.home-about-textbox h1{
    top: 1.6em;
    left: 5rem;
    transform: translateX(0);   
}

.home-about-menu{
    
    width: 20%;
    margin-left: 20%;
    background-color: #35df25;
    padding: .5em;
    text-align: center;
    border-radius: 0 0 5% 5%;    
}
.home-about-menu ul{
    list-style: none;
    
}
.home-about-menu h3{
     font-weight: 600;
     top: -1em;
     font-size: 2em;
}
.home-about-menu a{
    text-decoration: none;
    text-align: center;
    color: rgb(206, 68, 26);
    line-height: 2.5em;
    font-weight: 900;
    margin: 0 -2.3em;
    padding: 2em;
    font-size: 1.5em;
}
.home-about-menu a:hover,
a:focus{
    text-decoration: none;
    text-align: center;
    color: rgb(15, 112, 139);
    line-height: 1.5em;
    font-weight: 900;
    margin: 0 -2.3em;
    font-size: 2em;
}

/*portfolio*/


.portfolio{
    margin: 3.5em 0 0;
    
}
figure{
    margin: 0;
    position: relative;
}
.port-item{
    outline: 4px double whitesmoke;
    
    
    outline-offset: -.5em;
    
    
}

.port-item img{
    display: block;

}
.port-desc{
    position: absolute;
    color: rgb(236, 240, 13);    
    z-index: 100;
    left: 5em;
    right: 5em;
    bottom: 1.4em;
    background: rgba(0,0,0,0.5);
    padding-bottom: 1em;
}
.port-desc p{
    margin:1em;
}

@media (min-width:37rem){
    .port-item{
        width: 50%;
        float: left;
        padding: 5%;
    }
}
@media (min-width:60rem){
    .port-item{
        width: 33.333%;
        float: left;
        padding: 5%;
    }
}


/*cta*/

.cta{
    background-color: lightcoral;
   margin-top: 5em; 
   padding: 1.4em;
}

.button-dark{
    color: yellow;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 1.5em;
}
.button-dark:hover,
.button-dark:focus{
    color: rgb(210, 224, 16);
    background-color: #232323;
}



/*footer*/
footer{
    background-color: #232323;
    color: ivory;
    text-align: left;
    padding: 5em 0;
}